@charset "UTF-8";
@import url("https://v1.fontapi.ir/css/Estedad");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: estedad;
}

/* منو */
.lalezar {
  font-family: "Lalezar", serif;
}
.dropdown-menu li i {
  color: blue;
}
.bg-menu{
  background-color: #f2f5fc;
}
/* پایان منو */

/* بخش معرفی */
.intro {
  background-image: url(../img/header-bg.png);
  background-position: center;
}

/* بخش معرفی پایان*/

